.static-sticky-note > * > textarea{
    width:40em;
    height: 100%;
    resize: none;
}

.static-sticky-note > * {
    height: 100%;
    width: 60em;
}

.static-sticky-note {
    height: 50%;
}

.sticky-note-modal > .modal-close-button {
    display: none;
}